@charset "UTF-8";

/* すべてのWebページに適用される */
html {
    font-family: sans-serif;
}
html * {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
    background-color: whitesmoke;
}
.wrapper {
    margin: 0 auto 0 auto;
    /* max-width: 960px; */
}

/* ヘッダー */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    margin: 0 auto;
    padding: 0 4%;
}

nav.navbar {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.logo {
    width: 150px;
    margin: 0 auto 20px auto;
    cursor: pointer;
    font-size: 1.96rem;
}

nav.navbar ul {
    background: #000;
    width: 100%;
    margin-top: 10px;
}

nav.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav.navbar ul li a {
    text-decoration: none;
    color: white;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.838);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px 3%;
    max-height: 15%;
    transition: all 0.6s;
}

nav.sticky .logo {
    margin: 30px 0;
}

nav.sticky ul {
    background: transparent;
    font-size: 1.3rem;
}
/* ヘッダー */

/* ナビゲーション
nav.head ul li {
    float: left;
    width: 19%;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
}
nav.head {
    border-top: 2px solid #16a765;
    border-bottom: 1px solid #ccc;
}
nav.head ul li a:hover {
    color: #fff;
    background-color: #16a765;
    border-bottom: 1px solid #16a765;
}
nav.head ul li a {
    display: block;
    padding: 15px;
    border-left: 1px dotted #D6D6D6;
}
nav.head ul li:last-child {
    border-right: 1px dotted #D6D6D6;
}
nav.head ul .active a {
    color: #fff;
    background-color: #16a765;
    border-bottom: 1px solid #16a765;
}

 ナビゲーション */

/* サイドバー */
nav.side {
    display: block;
    position: fixed;
    background-color: #ffffff;
    width: 320px;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}

.open nav {
    left: 0;
    opacity: 1;
}

nav .inner {
    padding: 25px;
}
  
nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    margin: 0;
    border-bottom: 1px solid #333;
}
  
nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 24px;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover {
    background: #e4e4e4;
}

.toggle-btn {
    display: block;
    position: fixed;
    top: 19px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}
  
.toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000000;
    transition: all 0.5s;
    border-radius: 4px;
}
  
.toggle-btn span:nth-child(1) {
    top: 4px;
}
.toggle-btn span:nth-child(2) {
    top: 14px;
}
.toggle-btn span:nth-child(3) {
    bottom: 4px;
}
  
.open .toggle-btn span {
    background-color: #fff;
}
  
.open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
}
  
.open .toggle-btn span:nth-child(2) {
    opacity: 0;
}
  
.open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
}
  
#mask {
    display: none;
    transition: all 0.5s;
}
  
.open #mask {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
}

/* サイドバー 終わり */

.pr-area {
    margin-bottom: 30px;
}

.pr-area ul {
    width: 500px;
}
 
.pr-area li {
    float: left;
    margin: 0 5px;
    width: 190px;
    list-style: none;
}
 
.pr-area li h2 {
    border-left: 5px solid #16a765;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding-left: 10px;
}
 
.pr-area .shadow {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 3px 3px 3px #ddd;
}
 
.pr-area .shadow:hover {
    opacity: 0.6;
}
 
.pr-area .trim-img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
 
.pr-area p {
    font-size: 22px;
    line-height: 1.8;
    padding: 5px;
}
 
.pr-area a p:hover {
    color: #16a765;
    text-decoration: underline;
}

.pr-area h2.pr-title {
    margin-top: 20px;
}

.pr-area .button {
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 2px;
    line-height: 3;
    text-decoration: none;
    background-color: #16a765;
}
a.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

h2#news {
    color: black;
    font-size: 28px;
    border-bottom: 3px dotted brown;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

p {
    line-height: 1.6;
}
a:link {
    color: chocolate;
}
a:visited {
    color: chocolate;
}
a:hover {
    color: aqua;
}
a:active {
    color: blue;
}
img {
    max-width: 100%;
    height: auto;
}

/* すべてのページに適用 - ヘッダー - */
.logo {
    margin: 50px 0 40px 0;
    line-height: 0;
    text-align: center;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

/* すべてのページに適用 - フッター - */
.footer {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    margin-top: 30px;
    padding: 80px 15px 20px 15px;
    font-size: 12px;
    color: black;
}

/* 個別のスタイル */
/* index.html */
.keyvisual {
    margin: 15px 0 0 0;
}
.news-item {
    margin: 0;
}

/* スマートフォン向けCSS */
@media screen and (max-width: 480px) {
    /* 全体 - ナビゲーション */
    .wrapper {
        margin-bottom: 70px;
    }
    .logo {
        margin-top: 20px;
    }
    /* ヘッダー */
    #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 20px;
        line-height: 40px;
    }
}